@layer utilities {
  @keyframes slidein {
    from {
      opacity: 0;
      transform: translateY(-10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .animate-slidein {
    animation: slidein 1s ease var(--slidein-delay, 0) forwards;
  }

  @keyframes marquee {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-50%);
    }
  }

  .animate-marquee {
    animation: marquee 34s linear infinite;
  }
}
